{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="gp-container">
	<!-- <h2>W3.CSS Modal</h2>
	<button onclick="document.getElementById('loginModal').style.display='block'" class="gp-button gp-black">Open Modal</button> -->
  
	<div id="loginModal" class="gp-modal gp-padding-64">
		<div class="text-center" style="width: 80%; margin: 0 auto">
			<h1>Welcome to the Password Reset Page</h1>
			<h3>
			  Forgot your password? Please enter the email address you used to register
			  with us and we will send you a link to reset your password
			</h3>
		  </div>
		  <br/>
		  
		  <form action="" method="POST" class="text-center">
			{% csrf_token %}
			{{form}}
			<input type="submit" value="Send reset password link email" /><br>
		  </form><br/>
		  <div class="text-center">
			<a href="{% url 'home' %}">Return to home page</a>
		  </div>
	
		</div>
	  </div>
	
{% endblock content %}
{% block footer %}{% endblock footer %}
<!-- First Parallax Image with Logo Text -->
<!-- <div class="gp-display-container gp-opacity-min bgimg-1" id="home">
	<div class="gp-display-middle myForm" id="myForm" style="display:inherit;">      
		<form method="POST" class="form-container gp-center gp-text-black" id="myFormIn">
		{% csrf_token %}
			<h1>Login</h1>
			<b>{{ form.username.label_tag }} {{ form.username }}</b>
			<b>{{ form.password.label_tag }} {{ form.password }}</b>
			<button type="submit" value="login" class="btn">Login</button>
			<input type="hidden" name="next" value="{{ next }}" />
			<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
	</div>
</div> -->
<script>
'{% block script %}'
	// Open up modal
	function openModal(mdlStr) {
		document.getElementById(mdlStr).style.display="block";
	}
	
	// close up modal
		function closeModal(mdlStr) {
		document.getElementById(mdlStr).style.display="none";
	}  

    // Open up on page load //
    document.addEventListener('DOMContentLoaded', function() {        
        openModal('loginModal');
    }, false);    

	// Modal Image Gallery
	function onClick(element) {
	  document.getElementById("img01").src = element.src;
	  document.getElementById("modal01").style.display = "block";
	  var captionText = document.getElementById("caption");
	  captionText.innerHTML = element.alt;
	}

	// Open up login model
	$(document).ready(function(){
		openModal('loginModal');
    });
'{% endblock script %}'
</script>