{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="gp-container">
	<!-- <h2>W3.CSS Modal</h2>
	<button onclick="document.getElementById('loginModal').style.display='block'" class="gp-button gp-black">Open Modal</button> -->
  
	<div id="loginModal" class="gp-modal gp-padding-64">
		<div class="gp-modal-content gp-card-4 gp-animate-zoom myForm" style="min-width:300px;max-width:600px">
		  	<header class="gp-container gp-center gp-boarder-bottom gp-padding hdbg">
				<!-- <div class="gp-center gp-container gp-border-bottom gp-padding"> -->
				<!-- <span onclick="document.getElementById('loginModal').style.display='none'" class="gp-button gp-xlarge gp-transparent gp-display-topright" title="Close Modal">×</span> -->
				<!-- <h1 class="ga-text-white"><i class="fas fa-users" style='font-size:90px;color:white'></i></h1>	 -->
				<h1 class="ga-text-white">
					<img src="{% static 'img\icons\Master\svg\UserLogin.svg' %}" alt="Avatar" style="width:100px" class="gp-margin-top">
				</h1>
				<!-- <img src="{% static 'img/hm2CB.jpg' %}" alt="Avatar" style="width:30%" class="gp-circle gp-margin-top"> -->		  
		  	</header>
	
		  	<form method="POST" class="gp-container gp-center gp-text-black gp-white" id="myFormIn"> {% csrf_token %}
				<div class="gp-section">

					{% csrf_token %}
					{% if form.email.errors %}
					{{ form.email.errors }}
					{% endif %}
					<p class="gp-center">{{ form.email }}</p><br>
					<input type="submit" class="btn btn-default btn-lg gp-center" value="Send email" />
				</div>
			</form>

			<footer class="gp-container gp-border-top gp-padding-16 ftbg">
				<button onclick="location.href='{% url 'login' %}'" type="button" class="gp-button gp-right gp-red">Cancel</button>
				<!-- <span class="gp-right gp-padding gp-hide-small">Forgot <a href="{% url 'password_reset' %}">password?</a></span> -->
			</footer>
	
		</div>
	  </div>
	
{% endblock content %}
{% block footer %}{% endblock footer %}
<!-- First Parallax Image with Logo Text -->
<!-- <div class="gp-display-container gp-opacity-min bgimg-1" id="home">
	<div class="gp-display-middle myForm" id="myForm" style="display:inherit;">      
		<form method="POST" class="form-container gp-center gp-text-black" id="myFormIn">
		{% csrf_token %}
			<h1>Login</h1>
			<b>{{ form.username.label_tag }} {{ form.username }}</b>
			<b>{{ form.password.label_tag }} {{ form.password }}</b>
			<button type="submit" value="login" class="btn">Login</button>
			<input type="hidden" name="next" value="{{ next }}" />
			<button type="button" class="btn cancel" onclick="closeForm()">Close</button>
		</form>
	</div>
</div> -->
<script>
'{% block script %}'
	// Open up modal
	function openModal(mdlStr) {
		document.getElementById(mdlStr).style.display="block";
	}
	
	// close up modal
		function closeModal(mdlStr) {
		document.getElementById(mdlStr).style.display="none";
	}  

    // Open up on page load //
    document.addEventListener('DOMContentLoaded', function() {        
        openModal('loginModal');
    }, false);    

	// Modal Image Gallery
	function onClick(element) {
	  document.getElementById("img01").src = element.src;
	  document.getElementById("modal01").style.display = "block";
	  var captionText = document.getElementById("caption");
	  captionText.innerHTML = element.alt;
	}

	// Open up login model
	$(document).ready(function(){
		openModal('loginModal');
    });
'{% endblock script %}'
</script>