{% extends 'base.html' %}
{% load static %}

{% block content %}
  {% if validlink %}
    <div class="gp-container">
      <!-- <h2>W3.CSS Modal</h2>
      <button onclick="document.getElementById('loginModal').style.display='block'" class="gp-button gp-black">Open Modal</button> -->
      
      <div id="loginModal" class="gp-modal gp-padding-64">
        <div class="gp-modal-content gp-card-4 gp-animate-zoom myForm" style="min-width:300px;max-width:600px">
          <header class="gp-container gp-center gp-boarder-bottom gp-padding hdbg">
          <!-- <div class="gp-center gp-container gp-border-bottom gp-padding"> -->
          <!-- <span onclick="document.getElementById('loginModal').style.display='none'" class="gp-button gp-xlarge gp-transparent gp-display-topright" title="Close Modal">×</span> -->
          <!-- <h1 class="ga-text-white"><i class="fas fa-users" style='font-size:90px;color:white'></i></h1>	 -->
          <h1 class="ga-text-white">
            <img src="{% static 'img\icons\Master\svg\UserLogin.svg' %}" alt="Avatar" style="width:100px" class="gp-margin-top">
          </h1>
          <!-- <img src="{% static 'img/hm2CB.jpg' %}" alt="Avatar" style="width:30%" class="gp-circle gp-margin-top"> -->		  
          </header>
      
          <form method="POST" class="gp-container gp-center gp-text-black gp-white" id="myFormIn"> {% csrf_token %}
          <div class="gp-section">
            <div class="gp-row gp-container">
              <div class="gp-col gp-center gp-padding">
                <div class="gp-row gp-container gp-padding">
                  <label class=" gp-padding" for="id_new_password1">New password</label><br>
                  <div class=" gp-padding">{{ form.new_password1 }}</div>
                  <div>{{ form.new_password1.errors }}</div>
                </div>
                <div class="gp-row gp-container gp-padding">
                  <label class=" gp-padding" for="id_new_password1">Confirm password</label><br>
                  <div class=" gp-padding">{{ form.new_password2 }}</div>
                  <div>{{ form.new_password2.errors }}</div>
                </div>
                <div class="gp-row gp-container gp-padding">
                  <input type="submit" value="Change my password" />
                </div>
              </div>
            </div>
            <!-- <table class="gp-container gp-margin">
              <tr class="gp-container">
                  <td>{{ form.new_password1.errors }}</td>
                  <td><label for="id_new_password1">New password</label><br>{{ form.new_password1 }}</td>
              </tr>
              <tr>
                  <td>{{ form.new_password2.errors }}</td>
                  <td><label for="id_new_password2">Confirm password:</label><br>{{ form.new_password2 }}</td>
              </tr>
              <tr>
                  <td></td>
                  <td><input type="submit" value="Change my password" /></td>
              </tr>
          </table> -->
          </div>
          </form>
      
          <footer class="gp-container gp-border-top gp-padding-16 ftbg">
          <button onclick="location.href='{% url 'login' %}'" type="button" class="gp-button gp-red">Cancel</button>
          <span class="gp-right gp-padding">Forgot <a href="{% url 'password_reset' %}">password?</a></span>
          </footer>
      
        </div>
        </div>
      {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
      {% endif %}
{% endblock content %}
{% block footer %}{% endblock footer %}      
      
    <!-- First Parallax Image with Logo Text -->
    <!-- <div class="gp-display-container gp-opacity-min bgimg-1" id="home">
      <div class="gp-display-middle myForm" id="myForm" style="display:inherit;">      
        <form method="POST" class="form-container gp-center gp-text-black" id="myFormIn">
        {% csrf_token %}
          <h1>Login</h1>
          <b>{{ form.username.label_tag }} {{ form.username }}</b>
          <b>{{ form.password.label_tag }} {{ form.password }}</b>
          <button type="submit" value="login" class="btn">Login</button>
          <input type="hidden" name="next" value="{{ next }}" />
          <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
        </form>
      </div>
    </div> -->
<script>
'{% block script %}'
  // Open up modal
  function openModal(mdlStr) {
    document.getElementById(mdlStr).style.display="block";
  }
  
  // close up modal
    function closeModal(mdlStr) {
    document.getElementById(mdlStr).style.display="none";
  }  

    // Open up on page load //
    document.addEventListener('DOMContentLoaded', function() {        
        openModal('loginModal');
    }, false);    

  // Modal Image Gallery
  function onClick(element) {
    document.getElementById("img01").src = element.src;
    document.getElementById("modal01").style.display = "block";
    var captionText = document.getElementById("caption");
    captionText.innerHTML = element.alt;
  }

  // Open up login model
  $(document).ready(function(){
    openModal('loginModal');
    });

  '{% endblock script %}'
</script>